XML/plant.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLANT" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="COMMON"/>
              <xs:element type="xs:string" name="BOTANICAL"/>
              <xs:element type="xs:string" name="ZONE"/>
              <xs:element type="xs:string" name="LIGHT"/>
              <xs:element type="xs:string" name="PRICE"/>
              <xs:element type="xs:int" name="AVAILABILITY"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>